<section class="image-with-text-overlay" {{ section.shopify_attributes }}>
  <div></div>
</section>

{% schema %}
{
  "name": "Image with Text Overlay",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Image with Text Overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
