{{ 'image-banner-overlay.css' | asset_url | stylesheet_tag }}

<section class="image-with-text-overlay" {{ section.shopify_attributes }}>
  <div class="image-with-text-overlay__container">
    <div class="image-with-text-overlay__image"></div>
  </div>
</section>

{% schema %}
{
  "name": "Image with Text Overlay",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Image with Text Overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
