/* ============= Common Css ================= */
.container {
  max-width: 1370px;
  padding: 10px 15px;
  margin: 0 auto;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size);
  transition: 0.3s ease;
  text-align: center;
  position: relative;
}
.btn-arrow-right {
  padding-right: 60px;
}
.btn-arrow-right svg {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  transform: translateY(-50%);
}
.btn:hover {
  box-shadow: 0px 2px 4px 0px #00000033;
}
/* ============= Common Css ================= */
