.image-with-text-overlay__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-with-text-overlay img {
  width: 100%;
  height: auto;
  display: block;
}
.top-bar-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 20px;
  padding: 10px 15px;
  max-width: 1370px;
  margin: 0 auto;
}
.top-bar-content .top-bar-logo {
  max-width: 150px;
  width: 100%;
  line-height: 0;
}

.image-with-text-overlay .mobile-image {
  display: none;
}
.image-with-text-overlay .desktop-image {
  height: var(--image-height);
}
.image-with-text-overlay .mobile-image {
  height: var(--image-height);
}
.image-with-text-overlay .image-with-text-overlay__content {
  position: absolute;
  width: 100%;
  max-width: var(--text-width);
  padding: 30px;
  box-sizing: border-box;
  text-align: var(--text-alignment);
  z-index: 2;
  background: var(--block-bg);
  border-radius: var(--block-radius);
}
.image-with-text-overlay .image-with-text-overlay__content.content-top-left {
  top: 30px;
  left: 30px;
}
.image-with-text-overlay .image-with-text-overlay__content.content-top-center {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.image-with-text-overlay .image-with-text-overlay__content.content-top-right {
  top: 30px;
  right: 30px;
}
.image-with-text-overlay .image-with-text-overlay__content.content-center-left {
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.image-with-text-overlay .image-with-text-overlay__content.content-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-with-text-overlay .image-with-text-overlay__content.content-center-right {
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.image-with-text-overlay .image-with-text-overlay__content.content-bottom-left {
  bottom: 30px;
  left: 30px;
}
.image-with-text-overlay .image-with-text-overlay__content.content-bottom-center {
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.image-with-text-overlay .image-with-text-overlay__content.content-bottom-right {
  bottom: 30px;
  right: 30px;
}
.image-with-text-overlay .image-with-text-overlay__content .image-with-text-overlay__heading {
  font-size: var(--font-size);
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--color);
  margin-bottom: 50px;
}

.image-with-text-overlay .image-with-text-overlay__content .image-with-text-overlay__text {
  font-size: var(--font-size);
  color: var(--color);
  margin-bottom: 20px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 50px;
}

.image-with-text-overlay .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size);
  transition: background-color 0.3s ease;
  max-width: 220px;
  width: 100%;
  text-align: center;
  position: relative;
  padding-right: 60px;
}

.image-with-text-overlay .btn svg {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .image-with-text-overlay .desktop-image.has_mobile_image {
    display: none;
  }
  .image-with-text-overlay .mobile-image {
    display: block;
  }
}
