.image-with-text-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-with-text-overlay__image img {
  width: 100%;
  height: auto;
  display: block;
}
.image-with-text-overlay .mobile-image {
  display: none;
}
.image-with-text-overlay .desktop-image {
  height: var(--image-height);
}
.image-with-text-overlay .mobile-image {
  height: var(--image-height);
}
@media screen and (max-width: 768px) {
  .image-with-text-overlay .desktop-image.has_mobile_image {
    display: none;
  }
  .image-with-text-overlay .mobile-image {
    display: block;
  }
}
